body {
    max-width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png");
    background-repeat: repeat;
}

header {
    margin: 20px;
    font-size: 24px;
    max-width: 700px;
}

#linkbar {
    margin: 0;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png");
    background-repeat: repeat;
    max-width: 700px;
    max-height: 100px;
}  

#git {
    background-color: #171515;
}

#linked {
    background-color: #0072b1;
}

#stack {
    background-color: #f47f24;
}
a.link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: cornflowerblue;
}

main {
    font-size: 14px;
    padding: 10px;
    max-width: 700px;
    border: 10px;
}

#linkbar {
    font-size: 22px;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.connect > a {
    color: white;
}

footer {
    padding: 20px 0px 20px;
}

.connect {
    padding: 5px;
    font-size: 16px;
    max-width: 200px;
    max-height: 100px;
}

.about {
    background-color: #428aa5; 
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
}

.portfolio {
    background-color: #428aa5; 
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
}

.contact {
    background-color: #428aa5; 
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
}

h2 {
    color: #428aa5;
}

.connect > h2 {
    font-size: 20px;
}

.skills > p {
    background-color: whitesmoke;
}

.intro > p {
    background-color: whitesmoke;
}

img {
    float: left;
}

#linkbar {
    float: right;
}

main {
    float: left;
}

.connect {
    float: right;
    max-width: 180px;
}

aside::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    float: left;
}